*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0px;
    padding: 0px;
    background: #bdc3c7;
    background: linear-gradient(to right, #88717a,  #2c3e50);  
    font-family: sans-serif;
  }
  
  #calculadora {
    width: 340px;
    height: 570px;
    background-color: #eaedefe0;
    margin: 0 auto;
    top: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #title {
    text-align: center;
    padding-top: 10px;
  }
  
  #resultado {
    height: 150px;

  }
  
  .vsaida {
    text-align: right;
    height: 60px;
    width: 275px;
    margin: 10px 20px;
    font-size: 30px;
    outline: none;
    border: none;
  }
  
  .teclado {
    height: 450px;
  }
  
  .botaoAux,
  .numero,
  .limpar,
  .division,
  .suma,
  .multiplicacion,
  .resta,
  .igual,
  .botaoC {
    height: 50px;
    width: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
  }
  
  .division, .suma , .multiplicacion, .resta {
    font-size: 20px;
    background-color: #1b2777;
  }
  
  .limpar {
    font-size: 20px;
    background-color: #b63535;
  }
  .igual {
    font-size: 20px;
    background-color: #1c8528;
  }
  
  .numero {
    font-size: 20px;
    background-color: #1c222652;
  }
  .botaoAux {
    font-size: 20px;
    background-color: #4e6370;
  }
  
  .numero,
  .botaoAux,
  .limpar,
  .division,
  .suma,
  .multiplicacion,
  .igual,
  .resta 
  {
    cursor: pointer;
  }
  
  .botaoAux:active,
  .numero:active,
  .limpar:active,
  .division:active,
  .soma:active,
  .multiplicacion:active,
  .resta:active,
  .igual:active{
    font-size: 13px;
  }
  
  .botaoAux:focus,
  .numero:focus,
  .vazio:focus,
  .limpar:focus,
  .division:focus,
  .soma:focus,
  .multiplicacion:focus,
  .resta:focus,
  .igual:focus{
    outline: 0;
  }
  